name: DataEngine-CI

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
    paths:
      - "AAS.TwinEngine.DataEngine/**"
      - "AAS.TwinEngine.DataEngine.UnitTests/**"
      - ".github/workflows/**"

permissions:
  contents: read
  packages: write

env:
  BUILD_CONFIGURATION: "Release"
  IMAGE_REGISTRY: ghcr.io
  IMAGE_REPOSITORY: ${{ github.repository_owner }}/dataengine
  SOLUTION_PATH: source/AAS.TwinEngine.DataEngine.sln
  TEST_PROJECT: source/AAS.TwinEngine.DataEngine.UnitTests/AAS.TwinEngine.DataEngine.UnitTests.csproj
  DOCKERFILE_PATH: source/AAS.TwinEngine.DataEngine/Dockerfile
  DOCKER_CONTEXT: source/AAS.TwinEngine.DataEngine

jobs:

  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore ${{ env.SOLUTION_PATH }}

      - name: Build
        run: dotnet build ${{ env.SOLUTION_PATH }} --configuration ${{ env.BUILD_CONFIGURATION }} --no-restore

      - name: Echo command
        run: echo dotnet test "source/AAS.TwinEngine.DataEngine.UnitTests/AAS.TwinEngine.DataEngine.UnitTests.csproj" --configuration Release --no-build --logger "trx;LogFileName=test_results.trx"

      - name: Run Unit Tests
        run: dotnet test "source/AAS.TwinEngine.DataEngine.UnitTests/AAS.TwinEngine.DataEngine.UnitTests.csproj" --configuration Release --no-build --logger "trx;LogFileName=test_results.trx"

      - name: Debug TRX location
        run: find . -name "*.trx" -print

      - name: Publish Test Results
        if: always()
        uses: dorny/test-reporter@v1
        with:
          name: Unit Tests
          path: "**/test_results.trx"
          reporter: dotnet-trx


  docker-build-push:
    name: Docker Build & Push
    runs-on: ubuntu-latest
    needs: build-test
    if: github.event_name == 'push'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: ${{ env.DOCKER_CONTEXT }}
          file: ${{ env.DOCKERFILE_PATH }}
          push: true
          tags: |
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_REPOSITORY }}:latest
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_REPOSITORY }}:${{ github.sha }}
